<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevLearnHub"
        tools:targetApi="31">
        <activity
            android:name=".module.Jquery_Module3_3"
            android:exported="false" />
        <activity
            android:name=".module.Jquery_Module3_2"
            android:exported="false" />
        <activity
            android:name=".module.Jquery_Module2_4"
            android:exported="false" />
        <activity
            android:name=".module.Jquery_Module2_3"
            android:exported="false" />
        <activity
            android:name=".module.Jquery_Module2_2"
            android:exported="false" />
        <activity
            android:name=".module.Jquery_Module1_4"
            android:exported="false" />
        <activity
            android:name=".module.Jquery_Module1_3"
            android:exported="false" />
        <activity
            android:name=".module.Jquery_Module1_2"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module4_4"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module4_3"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module4_2"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module4_1"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module3_5"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module3_4"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module3_3"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module3_2"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module2_5"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module2_4"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module2_3"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module2_2"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module1_5"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module1_4"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module1_3"
            android:exported="false" />
        <activity
            android:name=".module.C_Module3_5"
            android:exported="false" />
        <activity
            android:name=".module.C_Module3_4"
            android:exported="false" />
        <activity
            android:name=".module.C_Module3_3"
            android:exported="false" />
        <activity
            android:name=".module.C_Module3_2"
            android:exported="false" />
        <activity
            android:name=".module.C_Module2_4"
            android:exported="false" />
        <activity
            android:name=".module.C_Module2_3"
            android:exported="false" />
        <activity
            android:name=".module.C_Module2_2"
            android:exported="false" />
        <activity
            android:name=".module.C_Module1_4"
            android:exported="false" />
        <activity
            android:name=".module.C_Module1_3"
            android:exported="false" />
        <activity
            android:name=".module.C_Module1_2"
            android:exported="false" />
        <activity
            android:name=".module.C_Module3_1"
            android:exported="false" />
        <activity
            android:name=".module.C_Module2_1"
            android:exported="false" />
        <activity
            android:name=".module.C_Module1"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module1_2"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module3_1"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module2_1"
            android:exported="false" />
        <activity
            android:name=".module.Mysql_Module1"
            android:exported="false" />
        <activity
            android:name=".module.Kotlin_Module4_1"
            android:exported="false" />
        <activity
            android:name=".module.Kotlin_Module3_1"
            android:exported="false" />
        <activity
            android:name=".module.Kotlin_Module2_1"
            android:exported="false" />
        <activity
            android:name=".module.Kotlin_Module1"
            android:exported="false" />
        <activity
            android:name=".module.Cplus_Module3_1"
            android:exported="false" />
        <activity
            android:name=".module.Cplus_Module2_1"
            android:exported="false" />
        <activity
            android:name=".module.Cplus_Module1"
            android:exported="false" />
        <activity
            android:name=".module.Jquery_Module3_1"
            android:exported="false" />
        <activity
            android:name=".module.Jquery_Module2_1"
            android:exported="false" />
        <activity
            android:name=".module.Jquery_Module1"
            android:exported="false" />
        <activity
            android:name=".module.Js_Module1_5"
            android:exported="false" />
        <activity
            android:name=".module.Js_Module1_4"
            android:exported="false" />
        <activity
            android:name=".module.Js_Module1_3"
            android:exported="false" />
        <activity
            android:name=".module.Js_Module1_2"
            android:exported="false" />
        <activity
            android:name=".module.Js_Module4_1"
            android:exported="false" />
        <activity
            android:name=".module.Js_Module3_1"
            android:exported="false" />
        <activity
            android:name=".module.Js_Module2_1"
            android:exported="false" />
        <activity
            android:name=".module.Js_Module1"
            android:exported="false" />
        <activity
            android:name=".module.Swift_Module1_5"
            android:exported="false" />
        <activity
            android:name=".module.Swift_Module1_4"
            android:exported="false" />
        <activity
            android:name=".module.Swift_Module1_3"
            android:exported="false" />
        <activity
            android:name=".module.Swift_Module1_2"
            android:exported="false" />
        <activity
            android:name=".module.Swift_Module4_1"
            android:exported="false" />
        <activity
            android:name=".module.Swift_Module3_1"
            android:exported="false" />
        <activity
            android:name=".module.swift_Module2_1"
            android:exported="false" />
        <activity
            android:name=".module.Swift_Module1"
            android:exported="false" />
        <activity
            android:name=".module.Csharp_Module3_1"
            android:exported="false" />
        <activity
            android:name=".module.Csharp_Module2_1"
            android:exported="false" />
        <activity
            android:name=".module.Csharp_Module1"
            android:exported="false" />
        <activity
            android:name=".module_activity.Javascript_Activity"
            android:exported="false" />
        <activity
            android:name=".module_activity.Swift_Activity"
            android:exported="false" />
        <activity
            android:name=".module_activity.Csharp_Activity"
            android:exported="false" />
        <activity
            android:name=".module_activity.Jquery_Activity"
            android:exported="false" />
        <activity
            android:name=".module_activity.C_Activity"
            android:exported="false" />
        <activity
            android:name=".module_activity.Cplus_Activity"
            android:exported="false" />
        <activity
            android:name=".module_activity.Mysql_Activity"
            android:exported="false" />
        <activity
            android:name=".module_activity.Kotlin_Activity"
            android:exported="false" />
        <activity
            android:name=".module_activity.Html_Activity"
            android:exported="false" />
        <activity
            android:name=".module.Html_Module1"
            android:exported="false" />
        <activity
            android:name=".module.Html_Module1_2"
            android:exported="false" />
        <activity
            android:name=".module.Html_Module1_3"
            android:exported="false" />
        <activity
            android:name=".module.Html_Module2_1"
            android:exported="false" />
        <activity
            android:name=".module.Html_Module2_2"
            android:exported="false" />
        <activity
            android:name=".module.Html_Module2_3"
            android:exported="false" />
        <activity
            android:name=".module.Html_Module3_1"
            android:exported="false" />
        <activity
            android:name=".module.Html_Module3_2"
            android:exported="false" />
        <activity
            android:name=".module.Html_Module3_3"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module6_6"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module6_5"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module6_4"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module6_3"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module6_2"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module6_1"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module5_6"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module4_2"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module4_1"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module3_3"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module3_2"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module3_1"
            android:exported="false" />
        <activity
            android:name=".menu_nav.About_Us_Activity"
            android:exported="false" />
        <activity
            android:name=".menu_nav.Contact_Us_Activity"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module2_5"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module2_4"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module2_3"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module2_2"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module2_1"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module1"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module1_2"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module1_3"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module1_4"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module1_5"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module2_1"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module2_2"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module2_3"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module2_4"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module2_5"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module2_6"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module3_1"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module3_2"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module3_3"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module4_1"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module4_2"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module4_3"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module1_5"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module1_4"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module1_3"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module1_2"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module1"
            android:exported="false" />
        <activity
            android:name=".module_activity.Java_Activity"
            android:exported="false" />
        <activity
            android:name=".module_activity.Python_Activity"
            android:exported="false" />
        <activity
            android:name=".Senior_Activity"
            android:exported="false" />
        <activity
            android:name=".Junior_Activity"
            android:exported="false" />
        <activity
            android:name=".Sophomore_Activity"
            android:exported="false" />
        <activity
            android:name=".Initial_Activity"
            android:exported="false" />
        <activity
            android:name=".Choices_Activity"
            android:exported="false" />
        <activity
            android:name=".Register_Activity"
            android:exported="false" />
        <activity
            android:name=".Login_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>