<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevLearnHub"
        tools:targetApi="31">
        <activity
            android:name=".Html_Activity"
            android:exported="false" />
        <activity
            android:name=".module.Html_Module1_5"
            android:exported="false" />
        <activity
            android:name=".module.Html_Module1_4"
            android:exported="false" />
        <activity
            android:name=".module.Html_Module1_3"
            android:exported="false" />
        <activity
            android:name=".module.Html_Module1_2"
            android:exported="false" />
        <activity
            android:name=".module.Html_Module1"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module4_2"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module4_1"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module3_3"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module3_2"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module3_1"
            android:exported="false" />
        <activity
            android:name=".menu_nav.DSA_Activity"
            android:exported="false" />
        <activity
            android:name=".menu_nav.About_Us_Activity"
            android:exported="false" />
        <activity
            android:name=".menu_nav.Contact_Us_Activity"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module2_5"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module2_4"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module2_3"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module2_2"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module2_1"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module1"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module1_2"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module1_3"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module1_4"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module1_5"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module2_1"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module2_2"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module2_3"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module2_4"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module2_5"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module2_6"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module3_1"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module3_2"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module3_3"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module4_1"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module4_2"
            android:exported="false" />
        <activity
            android:name=".module.Java_Module4_3"
            android:exported="false" />
        <activity
            android:name=".menu_nav.Networking_Fundamentals_Activity"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module1_5"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module1_4"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module1_3"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module1_2"
            android:exported="false" />
        <activity
            android:name=".module.Python_Module1"
            android:exported="false" />
        <activity
            android:name=".Java_Activity"
            android:exported="false" />
        <activity
            android:name=".Python_Activity"
            android:exported="false" />
        <activity
            android:name=".menu_nav.Computer_Fundamentals_Activity"
            android:exported="false" />
        <activity
            android:name=".Senior_Activity"
            android:exported="false" />
        <activity
            android:name=".Junior_Activity"
            android:exported="false" />
        <activity
            android:name=".Sophomore_Activity"
            android:exported="false" />
        <activity
            android:name=".Initial_Activity"
            android:exported="false" />
        <activity
            android:name=".Choices_Activity"
            android:exported="false" />
        <activity
            android:name=".Register_Activity"
            android:exported="false" />
        <activity
            android:name=".Login_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>